:root {
    --dark-primary-color: #388E3C;
    --light-primary-color:#C8E6C9;
    --primary-color:#4CAF50;
    --text-color:#FFFFFF;
    --accent-color:#FF4081;
    --primary-text:#212121;
    --secondary-text:#757575;
    --divider-color:#BDBDBD;
}
.common_text{
    font-family: 'Bad Script';
    color: var(--secondary-text);
}
.logo_text{
    font-family: 'Pattaya';
    color:var(--text-color);
}
.logo_big{
    background-color: var(--primary-color);
}
.inter_form{
    background-color: var(--light-primary-color);
}
@media handheld {

}
@media not handheld{
    .inter_form{
        border-radius: 16px;
    }
}